.item-wrap{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.item{
	width: 50px;
	height: 50px;
	background-color: #000;
	margin: 5px;
	transform: rotateZ(90deg);

}